@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  font-family: "Inter", sans-serif;
}
h1 {
  font-weight: 700;
}
#hero {
  background-color: #7550fe;
}
#hero p {
  color: rgba(255, 255, 255, 0.5);
}
h6 {
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0;
}
.features-icons i {
  background-color: #ffeeda;
  padding: 1em;
  border-radius: 50%;
  color: #c17d2d;
  margin: 1em;
}
header {
  box-shadow: 0 3px 2px -2px gray;
}
footer li {
  text-decoration: none;
}
